{% extends 'base.html' %}

{% block title %}

{% endblock %}

{% block head %}
    <link rel="stylesheet" href="{% static 'css/post_detail.css' %}">
    <script src="{% static 'js/job_detail.js' %}"></script>
{% endblock %}

{% block body %}
    <div class="post-container">
        <h2>{{ job.name }}</h2>
        <p class="post-info-group">
            <span>所属类别：{{ job.category.name }}</span>
            <span>发布时间：{{ job.create_time }}</span>
            <span>浏览量：{{ job.view_number }}</span>
        </p>
<!--        <div class="">-->
<!--            <img src="/image/{{ job.image }}" alt="" style="width: 300px;height: 200px">-->
<!--        </div>-->

        <div class="post-content">
            <p>薪资范围：{{ job.money }} 元</p>
            <p>岗位数量：{{ job.number }}</p>
            <p>学历要求：{{ job.edu_level }}</p>
            <p>介绍：{{ job.content }}</p>
        </div>
        <div class="" style="margin-bottom: 40px">
            <button class="btn btn-sm btn-danger pull-right " id="add-collect-btn" job-id="{{ job.id }}"
                    style="margin-left: 30px;">收藏
            </button>
            <button class="btn btn-sm btn-primary pull-right " id="add-order-btn" job-id="{{ job.id }}">投递简历
            </button>
        </div>
    </div>
    <div>
        <div class="" style="margin-top: 20px;border: 1px solid #000000;width: 150px;border-radius: 5px;padding: 10px">
            {% if not flag_mask %}
            <label for="">与您的匹配程度：</label>
            <select name="" id="input-score" class="form-control" style="width: 100px">
                <option value="5">完全匹配</option>
                <option value="4">较为匹配</option>
                <option value="3">匹配</option>
                <option value="2">较不匹配</option>
                <option value="1">无关</option>
            </select>
            <button class="btn btn-danger btn-sm" id="score-btn" style="margin-top: 10px" job-id="{{ job.id }}">
                提交评分
            </button>
            {% else %}
            <label for="">您的评分：{{ flag_mask.score }}</label>
            {% endif %}
        </div>
    </div>
    <div class="comment-group">
        <h3>评论列表</h3>
        <ul class="comment-list-group">
            {% for comment in comments %}
                <li>
                    <div class="comment-content">
                        <p class="author-info">
                            <span>{{ comment.user.username }}</span>
                            <span>{{ comment.create_time }}</span>
                        </p>
                        <p class="comment-txt">
                            {{ comment.content }}
                        </p>
                    </div>
                </li>
            {% endfor %}

        </ul>
    </div>
    <div class="add-comment-group">
        <h3>发布留言</h3>
        <textarea name="comment" id="comment-textarea" style="width: 100%; resize:vertical;"></textarea>
        <div class="comment-btn-group">
            <button class="btn btn-primary" id="add-comment-btn" job-id="{{ job.id }}">发布留言
            </button>
        </div>
    </div>

{% endblock %}