{% extends 'base.html' %}
{% block title %}
    个人信息
{% endblock %}
{% block head %}
    <link rel="stylesheet" href="{% static 'css/signbase.css' %}">
    <script src="{% static 'js/my_info.js' %}"></script>
{% endblock %}
{% block body %}
    <div class="outer-box" style="background-color: rgba(255,255,255,0)">
        <h2 class="page-title">
            个人信息
        </h2>
        <div class="sign-box">
            <div class="form-group">
                <label for="">用户名：</label>
                <input type="text" class="form-control" id="username" value="{{ info.username }}">
            </div>
            <div class="form-group">
                <label for="">密码：</label>
                <input type="text" class="form-control" id="password" value="{{ info.password }}">
            </div>
            <div class="form-group">
                <label for="">手机号：</label>
                <input type="text" class="form-control" id="phone" value="{{ info.phone }}">
            </div>
            <div class="form-group">
                <label for="">学历：</label>
                <input type="text" class="form-control" id="edu_level" value="{{ info.edu_level }}">
            </div>
            <div class="form-group">
                <label for="">专业：</label>
                <input type="text" class="form-control" id="major" value="{{ info.major }}">
            </div>
            <div class="form-group">
                <label for="">年龄：</label>
                <input type="text" class="form-control" id="age" value="{{ info.age }}">
            </div>
            <div class="form-group">
                <label for="">自我介绍：</label>
                <textarea name="" id="my_content" cols="" rows="" style="width: 300px;height: 200px">{{ info.content }}</textarea>
            </div>
            <div class="form-group d-flex align-content-center">
                <button class="btn btn-primary" id="upload">上传简历</button>
                <button class="btn btn-primary" id="submit-btn">提交信息</button>
            </div>
        </div>
    </div>
{% endblock %}